/* targetare universala: selectorul * targeteaza toate
elementele din pagina */
* {
    padding: 0;
    margin: 0;
}

/* targetare universala in interiorul unui element:
denumire-element * pentru targetarea tuturor elementelor
din interiorul altui element */

div * {
    background-color: black;
}

/* targetare dupa tag-ul de html: denumiretaghtml{} */
a{
    background-color: red;
}

p{
    background-color: green;
    padding: 5px;
}

div{
    background-color: yellow;
    padding: 20px;
    margin-bottom: 20px;
}

/* targetare dupa clasa: .denumire-clasa{} */
.clasa{
    background-color: blueviolet;
}

.paragraf{
    background-color: beige;
}

.link{
    background-color: coral;
}

/* targetare copii element: denumire-parinte denumire-copil{} */

.clasa .paragraf{
    background-color: pink;
}

.clasa .paragraf .link{
    font-size: 20px;
}

/* targetare elememente dupa id: #denumireId{} */

#thirdDiv{
    background-color: black;
}

.div-container a{
    background-color: blue;
    color: white;
}

/* PSEUDO CLASE | sintaxa: element:denumire-pseudoclasa{} */

/* :first-of-type targeteaza primul element */
.div-container a:first-of-type{
    background-color: darkred;
}

/* :last-of-type targeteaza ultimul element */
.div-container a:last-of-type{
    background-color: dimgray;
}

/* :nth-of-type(x) targeteaza elementul cu numarul de ordine
din interiorul parantezelor */
.div-container a:nth-of-type(2){
    font-size: 20px;
}

.div-container a:nth-of-type(3){
    font-size: 20px;
    background-color: black;
}
